
/* Extra Small Devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .download-col {
        flex-direction: column;
    }

    .download-col a {
        margin: 8px 0 8px 0 !important;
    } 
    
    .top,
    .color-overlay {
        border-radius: 0px !important;
    }

    .service-item {
        flex-direction: column;
    }

    .service-desc {
        max-width: 100% !important;
        margin-top: 2vh;
    }
  }
  
  /* Small Devices (landscape phones, 576px and up) */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    .download-col {
        flex-direction: column;
    }

    .download-col a {
        margin: 8px 0 8px 0 !important;
    }
    
    .top,
    .color-overlay {
        border-radius: 0px !important;
    }

    .service-item {
        flex-direction: column;
    }

    .service-desc {
        max-width: 100%;
    }
  }
  
  /* Medium Devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
  }
  
  /* Large Devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
  }
  
  /* Extra Large Devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
  }

html {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: #e6e6e6;
}

html::-webkit-scrollbar {
display: none;
}

  /* Header */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #a11b1f;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a11b1f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    height: 15vh;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.4s;
    padding: 2vmax 5vmax;

    z-index: 999;
    background: transparent;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6979166666666667) 85%, rgba(255,255,255,0) 100%); */

    overflow: hidden;
}

.nav-link a {
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.nav-link a:hover {
    text-decoration: none;
    /* color: #F8AE3E; */
}

.header-logo_image {
    width: 14vh;
}

.sticky {
    padding: 0.5vmax 5vmax 1vmax 5vmax;
    background-color: #fffffff3;
    height: 13vh;
}

.sticky a {
    color: #a11b1f !important;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #a11b1f;
    margin: 5px;
    transition: all 0.3s ease
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav {
        width: 60%;
    }

    .portfolio-description {
        justify-content: center;
        text-align: center;
    }

    .portfolio-subtitle {
        display: flex;
        justify-content: center;
    }

    .portfolio-buttons {
        align-items: center;
        flex-direction: column;
    }

    .top_02 {
        order: 2;
    }

    .bottom_02 {
        order: 1;
    }

    .button-left {
        margin-right: 0;
    }
}

@media screen and (max-width: 900px ) and (orientation: landscape) {
    body {
        overflow-x: hidden;
    }

    .card {
        height: 105vh !important;
    }

    .nav {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 13vh;
        background-color:#ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .nav li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

@media screen and (max-width: 820px) {
    body {
        overflow-x: hidden;
    }

    .nav {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 13vh;
        background-color:#ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .top {
        background-position: 69% !important; 
    }

    header { 
        padding: 2vmax 0;
        justify-content: space-around;
    }

    .nav li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    position: inherit;
}

.nav-active li a {
    color: #a11b1f !important;
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }

    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Header end */

/* top */

.top {
    background-image: url('../assets/boss.jpg');
    background-size: cover;
    background-position: 0 45%;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    overflow: visible;
    margin-bottom: 8vh;
    animation: blob-inner 4s steps(500) infinite alternate;
}

.color-overlay {
    background-color:#200203cc;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: blob-outer 5s steps(500) infinite alternate;
}

@keyframes blob-inner {
    from {
        border-radius: 0 0 85% 200% / 0 0 100% 100%;
    }

    to {
    border-radius: 0 0 90% 150% / 0 0 100% 100%;
    }
}

@keyframes blob-outer {
    from {
        border-radius: 0 0 100% 200% / 0 0 55% 100%;
    }

    to {
        border-radius: 0 0 100% 200% / 0 0 45% 87%;
    }
}

.art-cont {
    position: absolute;
    right: 0;
    bottom: -90px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16vh 8vw;
    overflow: hidden;
}

.content-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-title {
    font-size: 45px;
    color: #F8AE3E;
    font-weight: 700;
    text-align: center;
    font-family: 'Ubuntu', sans-serif !important;
}

.content-desc {
    color: #fff;
    text-align: center;
}

.g-btn {
    background-image: url("../assets/google.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    border-radius: 5px;
    width: 280px;
}

.a-btn {
    background-image: url("../assets/apple.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    border-radius: 5px;
    width: 280px;
}

.download-col {
    margin: 45px 0 0 0;
    display: flex;
    justify-content: center;
}

.download-col a {
    margin: 0 18px 0 18px;
    text-decoration: none;
    border: none;
}

.download-col a:focus {
    outline: none;
    box-shadow: none;
}

/* top end */

/* services */

.services { 
    display: flex;
    justify-content: center;
    padding: 2vh 5vw 8vh 5vw;
    background-color: #e6e6e6;
}

.services-title {
    display: flex;
    justify-content: center;
}

.services-title_text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: #a11b1f;
    font-size: 2.5em;
    margin-bottom: 8vh;
}

.service-item-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #eeeeee;
    margin: 18px;
    padding: 30px;
    border-radius: 30px;
}

.services-row,
.services-container {
    display: flex;
    justify-content: center;
}

.services-container {
    padding: 30px;
    background-color: #ebebeb;
    border-radius: 24px;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-img {
    width: 13rem;
}

.service-desc {
    max-width: 15vw;
    margin-left: 3vw;
}

.service-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
}
/* services end */

/* business */

/* .business {
    min-height: 65vh;
    height: fit-content;
    background: rgb(232,67,73);
    background: radial-gradient(circle, rgba(232,67,73,1) 0%, rgba(161,27,31,1) 73%);
    border-radius: 0 200% 0 0 /  100% 100% 0 0;
    position: relative;
    margin-top: 8vh;
}

.business-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7rem;
    color: #ffffff;
    position: absolute;
    left: 8vw;
    top: -6vh;
    text-shadow: -4px 4px 16px rgba(0, 0, 0, 0.705);
}

.business-tab {
    box-sizing: border-box;
    padding: 11vmax 5vw 0 5vw;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box label {
    font-weight: bold;
    text-align: center;
    order: 1;
    display: block;
    padding: 16px 127px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 14px;
    min-width: 450px;
    max-width: 450px;
    color: #9e0d12;
}

.box-content {
    display: none;
    padding: 30px;
    order: 99;
    flex-grow: 1;
    max-width: 69%;
    padding: 5vh 5vw;

    color: #fff;
    font-size: 1.7rem;
    transition: all ease 1s ease;
}

.box-image {
    max-width: 150px;
    border-radius: 50%;
}

.box input[type="radio"] {
    display: none;
}

.box input[type="radio"]:checked + label {
    background: #fff;
    color: #000;
    transition: all 0.5s ease;
}

.box input[type="radio"]:checked + label + .box-content {
    display: block;
    transition: all ease 1s ease;
} */

.business {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color:#c23b22;
    padding: 3% 6%;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    position: relative;
    overflow: hidden;
    margin-bottom: 8vh;
}

.business-row {
    display: flex;
    justify-content: start;
    width: 100%;
}

.business-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.business-title_text{
    font-size: 6em;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-shadow: -4px 4px 16px rgba(0, 0, 0, 0.705);
    line-height: 1.5;
}

.business-desc_text {
    color: #c4c4c4;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25em;
}

.business-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0;
    max-width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0;
    border-radius: 25px;
    max-width: 85%;
    margin: 25px 0;

    background: #e7e7e7;
}

.business-card-image img {
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.business-card-title, 
.business-card-content,
.business-card-button {
    padding: 0 25px;
}

.business-card-title span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
}

.business-card-content span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

.business-card-title,
.business-card-button {
    margin: 18px 0 0 0;
}

.business-card-button {
    margin-bottom: 18px;
}

.business-card-button button {
    padding: 0;
    border: none;
    background: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
    color: #a11b1f;
}

.business-card-button button:focus {
    outline: none;
}

.floating-image {
    top: 5%;
    right: 5%;
    position: absolute;
}

.floating-image img {
    width: 400px;
}

/* business end */

/* faq */

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 6%;
    background: #ececec;
}

.faq-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.faq-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-title_text {
    font-size: 2.5em;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 800;
}

.question-col {
    height: 100%;
    padding: 16px;
    background: #f5f5f5;
    border-radius: 16px;
    margin: 16px;
}

.question,
.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.q, .a {
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
    padding: 7px 14px;    
    max-height: 45px;
    display: flex;
    align-items: center;
    border-radius: 25%;
    color: #fff;
}

.q {
    background: #c23b22;
}

.a {
    background: #fec98f;
}

.answer {
    margin-top: 8px;
}

.question {
    padding-bottom: 8px;
    border-bottom: 1.5px solid #b3b3b3;

}

.question-col span {
    margin-left: 25px;
    font-size: 1.2em;
}
/* faq end */

/* footer */

.footer-section {
    background-image: url('../assets/login_background.png');
    background-size: cover;
    background-position: 0 55%;
    background-repeat: no-repeat;
    position: relative;
}

.footer-overlay {
    background-color:#200203cc;
    width: 100%;
    height: 100%;
    position: absolute;
}

.footer-row {
    padding: 3% 6%;
    line-height: 1.5;
}

.link-footer ul {
    padding: 0;
}

.link-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.contact-footer {
    padding: 0 15px;
}

.contact-title {
    padding-left: 0 !important;
}

.contact-footer span {
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 8px 16px;
}

.contact-subtitle {
    font-size: 1.25em !important;
    font-family: 'Bebas Neue', sans-serif !important;
}

.link-title,
.contact-title {
    color: #fff;
    font-weight: bolder;
    font-size: 2em !important;
    font-family: 'Bebas Neue', sans-serif !important;
    padding-top: 0 !important;
}

/* footer end */
